/***************************
* Gallery Image Container
***************************/

.gallery-image-container{
  display: flex;
  justify-content: center;
  align-items: center;

  height: fit-content;
  width: auto;

}

.gallery-image-container > img {
  border: 5px solid black;

  height: 50vh;
  width: 50vw;

  border-radius: 1rem;
}
