/***************************
* Gallery Image Container
***************************/

.gallery-image-container{
  display: flex;
  justify-content: center;
  align-items: center;

  height: fit-content;
  width: auto;

}

.gallery-image-container > img {
  height: 30em;
  width: 25vw;

  border-radius: 1rem;
}
