/**********************
*   Spot Card Content
***********************/
.spot-card-content{
  display: flex;
  flex-direction: column;

  width: fit-content;

  margin: 1rem;
  padding: 1rem;
  padding-bottom: 0;
}

.spot-card-content:hover{
  cursor: pointer;
}

/**********************
*   Spot Card Info
***********************/
.spot-image-container{
  position: relative;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.spot-image{
  display: block;
  object-fit: fill;

  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.spot-card-heart{
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: black;
  opacity: .7;
}

.spot-card-heart:hover{
  color: white;
}

.spot-header{
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.fa-star{
  color: black;
}

.spot-image{
  width: 17em;
  height: 12em;
  object-fit: cover;

  margin-bottom: 1.25rem;

  border-radius: 1.25rem;
  border: 1px solid rgba(0,0,0,0.5);
  transition: all .2s ease-in-out;
}

.spot-image:hover{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.spot-price > span, .spot-header{
  font-weight: bold;
}

.spot-price{
  padding-top: .5rem;
}

.card-info-container-1,
.card-info-container-2{
  display: flex;
  align-items: center;
}

.spot-location.card-info.location-type{
  margin-top: .2rem;
  font-size: smaller;
}
