/**********************
*   Spot Card Content
***********************/
.spot-card-content{
  display: flex;
  flex-direction: column;

  width: fit-content;

  margin: 1rem;
  padding: rem;
}

.spot-card-content:hover{
  cursor: pointer;

}

/**********************
*   Spot Card Info
***********************/
.spot-image-container{
  position: relative;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.spot-image{
  display: block;
  object-fit: fill;

  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.spot-card-heart{
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: black;
  opacity: .7;
}

.spot-card-heart:hover{
  color: white;
}

.spot-header{
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.fa-star{
  color: black;
}

.spot-image{
  width: 23em;
  height: 18em;
  object-fit: cover;

  margin-bottom: 1.25rem;

  border-radius: 1.25rem;
}

.spot-price > span, .spot-header{
  font-weight: bold;
}

.spot-price{
  padding-top: .5rem;
}


.card-info-container-2{
  display: flex;
  align-items: center;
}
