#map-button{
  position: absolute;
  bottom: 5%;
  left: 45%;

  opacity: 80%;

  background-color: black;
  border-radius: 1rem;
  color: white;
  padding: .5rem 1rem;

  transition: all .2s ease-in-out;
}

#map-button:hover{
  cursor: pointer;
  
  transform: scale(1.1);
}

.map-list-icon{
  color: white;
}
