/**********************
*   Spot Card Container
***********************/
.spot-card-container{
  display: grid;

  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto; 
  column-gap: 10px;
  row-gap: 15px;

  margin-top: 1.5rem;
  margin-bottom: 30vh;
}
