/**********************************
*       Spot Form
***********************************/
#spot-form{
  /* background-color: pink; */
  width: 100%;
  margin-top: 10vh;
  height: 90%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#spot-form > section{
  display: flex;
  flex-direction: column;
  width: 80%;
  font-size: 1.25rem;
}

#spot-form > section > label {
  font-weight: bold;
}

#spot-form-name, #spot-form-price, #spot-form-description{
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#spot-form-name, #spot-form-price, #spot-form-description, #spot-form-address{
  font-style: italic;
  width: 100%;
  border: none;
  background-color: white;
  border-bottom: 3px solid black;
}

/**********************************
*       Spot Error List
***********************************/
.error-list-container{
  width: 80%;
  display: flex;
  flex-direction: column;
}

.error-list{
  color: red;
  font-weight: bold;
}

/**********************************
*       Spot Description
***********************************/
#spot-form-description{
  resize: none;
  height: 10vh;
}

/**********************************
*       Spot Image
***********************************/
#spot-form-image > input{
  margin-top: 2vh;
}

/**********************************
*       Spot Location
***********************************/
#spot-form-address-inner-section{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#arrow-icon-container{
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.arrow-icon{
  font-size: 1.5rem;
  color: #E41C5E;
  margin: 0 auto;
}

.arrow-icon:hover{
  cursor: pointer;
}

/**********************************
*       Spot Submit Button
***********************************/
#spot-form-button{
  padding: 1rem;
  position: absolute;
  background-color: #E41C5E;
  border-radius: 1rem;
  color: white;
  font-weight: bold;
  border: none;
  bottom: 12vh;
  right: 2vw;
}

#spot-form-button:hover{
  cursor: pointer;
}
