/* frontend/src/SearchBar/SearchBar.module.css */

/**************************
? 		Search Bar Container
***************************/
.searchBarContainer {
	/* display */
	display: flex;
	justify-content: center;
	align-items: center;

	/* layout */

	/* sizing */
	height: fit-content;
	
	/* styling */
	border: 1px solid #EDEDED;
	border-radius: 1.5rem;
	background-color: white;
	-webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.searchBarContainer:hover{
	-webkit-box-shadow: 0 10px 8px -6px #777;
  -moz-box-shadow: 0 10px 8px -6px #777;
  box-shadow: 0 10px 8px -6px #777;
	cursor: pointer;
}

.searchBarButtons {
	/* display */
	display: inline-flex;
	justify-content: space-around;
	align-items: center;

	/* layout */
	padding: .4rem .75rem;
	margin: 0;

	/* sizing */

	/* styling */
	background-color: white;
	border: none;

	
	cursor: pointer;
}

.searchBarButtons > div {
	/* styling */
	font-size: medium;
}

/**************************
? 		Search Bar Buttons
***************************/
.locationButton{
	/* layout */
	margin-left: 1rem;
}

.guestsButton{
	/* layout */
	margin-right: 1rem;
}

.searchIcon{
	/* layout */
	margin: 0;
	padding: 0;

	/* styling */
	background-color: #FF365A;
	border: .1px solid #EDEDED;
	border-radius: 2rem;
}

.lineDivide{
	/* display */

	/* layout */
	margin-left: 1.25rem;

	/* sizing */
	height: 24px;

	/* styling */
	border: 1px solid #EDEDED;
}

/**************************
? 		Search Bar Text
***************************/
.guestText{
	font-weight: lighter;
	margin-right: 1rem;
}

.magnifyingGlass{
	color: white;
}
