/* TODO Add site wide styles */
* {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		'Helvetica Neue', sans-serif;
}

html{
	height: 100vh;
	width: 99vw;
}

body{
	margin: 0 auto;
	position: relative;
	overflow-x: hidden;
}

body > * {
	user-select: auto;
}

/* list */
li {
	list-style-type: none;
	text-align: center;
}
