/* TODO Add site wide styles */
* {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		'Helvetica Neue', sans-serif;
}

html{
	height: 100vh;
	width: 100vw;
}

body{
	margin: 0 auto;
	position: relative;
	overflow-x: hidden;
}

body > * {
	user-select: auto;
}

body::-webkit-scrollbar {
	width: .5rem;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(255, 54, 90);
	outline: 1px solid rgb(244, 75, 106);
	border-radius: 1rem;
}

/* list */
li {
	list-style-type: none;
	text-align: center;
}
