/* frontend/src/Navigation/ProfileButton/ProfileButton.css */

/******************************
*   Profile Button Container
*******************************/
#nav-button-container{
  margin: 0;
}

#profile-dropdown{
  top: 6rem;
  right: 3rem;
  height: fit-content;
  padding: 3rem;
  position: absolute;
  border-radius: 2rem;
  background-color: white;
  border: 1px solid #EDEDED;
}
