
/************************
*     Lower Nav Container
*************************/


/*********************
*     Scroll Menu
**********************/
.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;

  border-bottom: 1px;
  border-color: white;
  border-bottom-style: solid;
}

.menu-item:hover{
  border-color:gray;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
