/* form */
form{
  /* layout */
  display: flex;
  flex-direction: column;
  
  /* size */
  width: 100%;
  height: 100vh;

  /* position */
  justify-content: center;
  align-items: center;
}

/* form input */
form > input, button {
  margin-top: 1rem;
}

/* errors list */
li {
	list-style-type: none;
  color: red;
  font-weight: bold;
  text-align: center;
} 

ul{
  padding: 0;
}
