/******************************
*   Outer-Footer-Container
*******************************/
.outer-footer-container_home {
	/* display: flex; */
	position: sticky;

	margin: 0 auto;
	padding: 0;
	left: 0;
	bottom: 0;
	right: 0;

	text-align: center;
}

/******************************
*   Footer-Content-Container
*******************************/
.footer-content-container_home {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"map"
	"lower";
}

#DIV_1_home, #DIV_2_home{
	display: flex;
	align-items: center;
}

.lower_div_container_home{
	grid-area: lower;

	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-areas: "left . right";

	border-top: 1px solid #EDEDED;
	background-color: #FFFFFF;

	height: 7vh;
}

/******************************
*            DIV_MAP
*******************************/
#DIV_MAP_home{
	grid-area: map;
}

#inner_div_map_button_home{
	margin-bottom: 3rem;
	padding: 1.25vh 1vw;
	
	border-radius: 1rem;
	background-color: #222222;
	border: none;
	color: white;

	font-size: 1rem;
	transition: all .3s ease-in-out;
	text-align: center;


	position: absolute;
	bottom: 5vh;
	left: 45vw;
}

#inner_div_map_button_home:hover{
	transform: scale(1.1);

	font-weight: bold;
	cursor: pointer;
}

.fa-map_home{
	color: white;
}


/******************************
*            DIV_1
*******************************/
#DIV_1_home{
	grid-area: left;
	margin-left: 5rem;
	position: absolute;
	left: 0;
	bottom: 2vh;
} 


#DIV_1_home > div {
	padding: 0 1vw;
}

#left_inner_div_1_home > *{
	/* background-color: red; */
	padding: 0 .25vw;
}

/******************************
*            DIV_2
*******************************/
#DIV_2_home{
	grid-area: right;
	position: absolute;
	right: 0;
	bottom: 1vh;
}

#inner_div_2_home{
	display: flex;
	justify-content: space-between;
}

.inner_div_1_home, .inner_div_3_home{
	display: flex;
	flex-direction: row;
}

.inner_div_1_content_home:hover, #inner_div_2_home:hover, #inner_div_3_home:hover{
	text-decoration: underline;
	cursor: pointer;
}

#DIV_2_home > div {
	padding: 0 1vw;
}
