/****************************************
*           Sign Up Header
****************************************/
.sign-up-form-page-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 100vh 110vh;
  grid-template-areas: 
  "header"
  "main"
  "form";
}

/****************************************
*           Sign Up Header
****************************************/
.sign-up-header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 100vh;

  grid-area: header;
}

.sign-up-logo-container{
  position: absolute;

  top: 25px;
  left: 25px;
}

.sign-up-logo-container:hover{
  cursor: pointer;
}

.sign-up-fa-airbnb {
  color: white !important;
}

.sign-up-header{
  display: grid;

  grid-template-columns: repeat(2, 50%);
}

.header-left-aside-container{
  display: flex;
  
  justify-content: center;
  align-items: center;

  background-color: black;
}

.header-container {
  text-align: center;
}


.header-text-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container > h1{
  font-size: 3.5rem;
  width: 30rem;
  text-align: center;
  color: white;
}


.header-right-aside-container{
  background-color: pink;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.sign-up-host-button{
  border-radius: 1rem;
  width: 8rem;
  height: 3rem;
  background-color: #E41C5E;
  color: white;
}

.sign-up-host-button:hover, .sign-up-angle-down:hover{
  cursor: pointer;
}

.sign-up-angle-down{
  position: absolute;
  bottom: 25px;
  color: white;
}

.sign-up-welcome-video{
  position: absolute;

  width: 50%;
  height: 100%; 
  overflow: hidden;

  object-fit: fill;
}

/****************************************
*             Sign Up Main
****************************************/
.sign-up-main{
  background-color: white;
  height: 100vh;

  grid-area: main;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;

  margin-bottom: 5rem;
}

.main-section-header{
  background-color: white;
  position: absolute;
  width: 40rem;
  height: 15rem;
  font-size: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-section-header > h1 {
  text-align: center;
  margin: 0 auto;
}

.main-pic-carousel{
  width: 100rem;
  height: 40rem;
  margin-top: 15rem;
}

.inner-main-pic-carousel{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inner-main-pic-carousel > img {
  width: 32rem;
  height: 40rem; 
  object-fit: fill;
  border-radius: 1rem;
  transition: all .2s ease-in-out;
}

.inner-main-pic-carousel > img:hover{
  transform: scale(1.02);
  cursor: pointer;
}

/****************************************
*           Sign Up Form 
****************************************/
.sign-up-form-container{
  background-color: #EBEBEB;
  grid-area: form;

  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr;
  grid-template-areas: 
  "left right";
}

.sign-up-form-left{
  grid-area: left;
  display: flex;
  justify-content: center;
  align-items: center;
}


.sign-up-form{
  padding-bottom: 5rem;
}

.sign-up-form > h2{
  font-size: 64px;
}

.sign-up-form input:not(#form-image-upload) {
  width: 80%;
  height: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 24px;  
}

.form-image-upload-container{
  display: flex;
  width: 100%;
  margin: 1rem;
  text-align: flex-start;
  flex-direction: column;
  margin-left: 12rem;
  justify-content: center;
  align-items: flex-start;
}

.form-image-upload-container > span{
  font-size: 24px;
  margin-bottom: 1rem;
}

#form-image-upload{
  font-size: 1.5rem;
}

.sign-up-form > button{
  padding: 2rem;
  width: 85%;
  font-size: 24px;
  border-radius: 1rem;
  color: white;
  background-color: #ff365a;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all .2s ease-in-out;
  transition: font-weight .2s;
}

.sign-up-form > button:hover{
  cursor: pointer;
  font-weight: bold;
  transform: scale(1.02);
}


.sign-up-form-right{
  grid-area: right;
  
  display: flex;
  justify-content: end;
  width: 100%;
}

.sign-up-form-right > img {
  width: 50rem;
  object-fit: fill;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
