/* form */
form{
  /* layout */
  display: flex;
  flex-direction: column;
  
  /* size */
  width: 40vw;
  height: 40vw;

  /* position */
  justify-content: center;
  align-items: center;
}

/* form input */
form > input, button {
  margin-top: 1rem;
}

/* errors list */
.error-list {
  color: red;
} 

ul{
  padding: 0;
}

/* login button */
#login-button{
  background-color: white;
  border-radius: .4rem;
  height: 3rem;
  width: 4rem;
}

#login-button:hover{
  border: 3px solid rgb(42, 41, 41);
}

li > a{
  margin: 1rem;
}
