/***************************************
*                DIV
****************************************/
#DIV_1 {
    align-items: stretch;
    block-size: 108px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    display: flex;
    height: 108px;
    inline-size: 850px;
    justify-content: flex-start;
    line-break: strict;
    margin-inline-end: -8px;
    margin-inline-start: -8px;
    perspective-origin: 425px 54px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 425px 54px;
    width: 850px;
    border: 0px none rgb(34, 34, 34);
    flex-flow: row wrap;
    font: 16px / 20px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin: 0px -8px;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_1*/

#DIV_2, #DIV_10, #DIV_18, #DIV_26, #DIV_34, #DIV_42 {
    block-size: 36px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 36px;
    inline-size: 354.156px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    line-break: strict;
    margin-inline-end: 70.8281px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    perspective-origin: 177.078px 18px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 177.078px 18px;
    width: 354.156px;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 20px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin: 0px 70.8281px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 8px;
}/*#DIV_2, #DIV_10, #DIV_18, #DIV_26, #DIV_34, #DIV_42*/

#DIV_3, #DIV_11, #DIV_19, #DIV_27, #DIV_35, #DIV_43 {
    block-size: 20px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 20px;
    inline-size: 338.156px;
    line-break: strict;
    margin-block-end: 16px;
    perspective-origin: 169.078px 10px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 169.078px 10px;
    width: 338.156px;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 20px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin: 0px 0px 16px;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_3, #DIV_11, #DIV_19, #DIV_27, #DIV_35, #DIV_43*/

#DIV_4, #DIV_12, #DIV_20, #DIV_28, #DIV_36, #DIV_44 {
    align-items: center;
    block-size: 20px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    display: flex;
    height: 20px;
    inline-size: 338.156px;
    justify-content: space-between;
    line-break: strict;
    perspective-origin: 169.078px 10px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 169.078px 10px;
    width: 338.156px;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 20px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_4, #DIV_12, #DIV_20, #DIV_28, #DIV_36, #DIV_44*/

#DIV_5, #DIV_13, #DIV_21, #DIV_29, #DIV_37, #DIV_45 {
    block-size: 20px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 20px;
    inline-size: 186.375px;
    line-break: strict;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 93.1875px 10px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-overflow: ellipsis;
    text-size-adjust: 100%;
    transform-origin: 93.1875px 10px;
    white-space: nowrap;
    width: 186.375px;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 20px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    overflow: hidden;
}/*#DIV_5, #DIV_13, #DIV_21, #DIV_29, #DIV_37, #DIV_45*/

#DIV_6, #DIV_14, #DIV_22, #DIV_30, #DIV_38, #DIV_46 {
    align-items: center;
    block-size: 16px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    display: flex;
    height: 16px;
    inline-size: 139.781px;
    line-break: strict;
    margin-inline-start: 12px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 69.8906px 8px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 69.8906px 8px;
    width: 139.781px;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 20px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin: 0px 0px 0px 12px;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_6, #DIV_14, #DIV_22, #DIV_30, #DIV_38, #DIV_46*/

#DIV_7 {
    block-size: 4px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-end-end-radius: 2px;
    border-end-start-radius: 2px;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    border-start-end-radius: 2px;
    border-start-start-radius: 2px;
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 4px;
    inline-size: 112.547px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    line-break: strict;
    margin-inline-end: 4px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 56.2656px 2px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 56.2734px 2px;
    width: 112.547px;
    background: rgb(221, 221, 221) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 2px;
    font: 16px / 20px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin: 0px 4px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_7*/

#SPAN_8 {
    block-size: 4px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-end-end-radius: 2px;
    border-end-start-radius: 2px;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    border-start-end-radius: 2px;
    border-start-start-radius: 2px;
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    display: block;
    height: 4px;
    inline-size: 108.031px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 4.51562px;
    inset-inline-start: 0px;
    left: 0px;
    line-break: strict;
    perspective-origin: 54.0156px 2px;
    position: absolute;
    right: 4.51562px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 54.0156px 2px;
    width: 108.031px;
    background: rgb(34, 34, 34) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 2px;
    font: 16px / 20px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#SPAN_8*/

#SPAN_9 {
    block-size: 16px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    display: block;
    height: 16px;
    inline-size: 17.2344px;
    line-break: strict;
    margin-inline-start: 6px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 8.60938px 8px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 8.61719px 8px;
    width: 17.2344px;
    border: 0px none rgb(34, 34, 34);
    font: 600 12px / 16px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin: 0px 0px 0px 6px;
    outline: rgb(34, 34, 34) none 0px;
}/*#SPAN_9*/

#DIV_15, #DIV_31 {
    block-size: 4px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-end-end-radius: 2px;
    border-end-start-radius: 2px;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    border-start-end-radius: 2px;
    border-start-start-radius: 2px;
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 4px;
    inline-size: 112.594px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    line-break: strict;
    margin-inline-end: 4px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 56.2969px 2px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 56.2969px 2px;
    width: 112.594px;
    background: rgb(221, 221, 221) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 2px;
    font: 16px / 20px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin: 0px 4px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_15, #DIV_31*/

#SPAN_16, #SPAN_32 {
    block-size: 4px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-end-end-radius: 2px;
    border-end-start-radius: 2px;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    border-start-end-radius: 2px;
    border-start-start-radius: 2px;
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    display: block;
    height: 4px;
    inline-size: 110.328px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 2.26562px;
    inset-inline-start: 0px;
    left: 0px;
    line-break: strict;
    perspective-origin: 55.1562px 2px;
    position: absolute;
    right: 2.26562px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 55.1641px 2px;
    width: 110.328px;
    background: rgb(34, 34, 34) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 2px;
    font: 16px / 20px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#SPAN_16, #SPAN_32*/

#SPAN_17, #SPAN_33 {
    block-size: 16px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    display: block;
    height: 16px;
    inline-size: 17.1875px;
    line-break: strict;
    margin-inline-start: 6px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 8.59375px 8px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 8.59375px 8px;
    width: 17.1875px;
    border: 0px none rgb(34, 34, 34);
    font: 600 12px / 16px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin: 0px 0px 0px 6px;
    outline: rgb(34, 34, 34) none 0px;
}/*#SPAN_17, #SPAN_33*/

#DIV_23, #DIV_39 {
    block-size: 4px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-end-end-radius: 2px;
    border-end-start-radius: 2px;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    border-start-end-radius: 2px;
    border-start-start-radius: 2px;
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 4px;
    inline-size: 112.953px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    line-break: strict;
    margin-inline-end: 4px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 56.4688px 2px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 56.4766px 2px;
    width: 112.953px;
    background: rgb(221, 221, 221) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 2px;
    font: 16px / 20px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin: 0px 4px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_23, #DIV_39*/

#SPAN_24, #SPAN_40 {
    block-size: 4px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-end-end-radius: 2px;
    border-end-start-radius: 2px;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    border-start-end-radius: 2px;
    border-start-start-radius: 2px;
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    display: block;
    height: 4px;
    inline-size: 112.953px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    line-break: strict;
    perspective-origin: 56.4688px 2px;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 56.4766px 2px;
    width: 112.953px;
    background: rgb(34, 34, 34) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 2px;
    font: 16px / 20px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#SPAN_24, #SPAN_40*/

#SPAN_25, #SPAN_41 {
    block-size: 16px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    display: block;
    height: 16px;
    inline-size: 16.8281px;
    line-break: strict;
    margin-inline-start: 6px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 8.40625px 8px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 8.41406px 8px;
    width: 16.8281px;
    border: 0px none rgb(34, 34, 34);
    font: 600 12px / 16px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin: 0px 0px 0px 6px;
    outline: rgb(34, 34, 34) none 0px;
}/*#SPAN_25, #SPAN_41*/

#DIV_47 {
    block-size: 4px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-end-end-radius: 2px;
    border-end-start-radius: 2px;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    border-start-end-radius: 2px;
    border-start-start-radius: 2px;
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 4px;
    inline-size: 113.641px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    line-break: strict;
    margin-inline-end: 4px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 56.8125px 2px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 56.8203px 2px;
    width: 113.641px;
    background: rgb(221, 221, 221) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 2px;
    font: 16px / 20px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin: 0px 4px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_47*/

#SPAN_48 {
    block-size: 4px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-end-end-radius: 2px;
    border-end-start-radius: 2px;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    border-start-end-radius: 2px;
    border-start-start-radius: 2px;
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    display: block;
    height: 4px;
    inline-size: 106.812px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 6.82812px;
    inset-inline-start: 0px;
    left: 0px;
    line-break: strict;
    perspective-origin: 53.4062px 2px;
    position: absolute;
    right: 6.82812px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 53.4062px 2px;
    width: 106.812px;
    background: rgb(34, 34, 34) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 2px;
    font: 16px / 20px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#SPAN_48*/

#SPAN_49 {
    block-size: 16px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    display: block;
    height: 16px;
    inline-size: 16.1406px;
    line-break: strict;
    margin-inline-start: 6px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 8.0625px 8px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 8.07031px 8px;
    width: 16.1406px;
    border: 0px none rgb(34, 34, 34);
    font: 600 12px / 16px Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin: 0px 0px 0px 6px;
    outline: rgb(34, 34, 34) none 0px;
}/*#SPAN_49*/
